.app{
    background-color: gray;
    /* display: flex;
    align-content: center; */
}

.gifs {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.gifs p {
    font-size: 50%;
}
img {
    width: 100%;
}

.gif-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-start;
}